<h1 style="text-align: center">Angular CRUD operations</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foods">
        <th scope="row">{{ food.id }}</th>
        <td>{{ food.name }}</td>
        <td>{{ food.price }}</td>
        <td>{{ food.description }}</td>
        <td>
          <a
            class="btn btn-primary"
            [routerLink]="['/foods/update', food.id]"
            routerLinkActive="router-link-active"
            >Edit</a
          >
          <button
            type="button"
            (click)="removeFood(food.id)"
            class="btn btn-danger ms-2"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
